/* CSS Reset */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  font: inherit;
  cursor: pointer;
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  height: 100vh;
  line-height: 1.5;
  background-color: black;
  color:white;
  display:grid;
  place-content:center;
  gap:16px;
  text-align:center;
}

#title{
  background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 10s infinite linear;
}

header{
  display:flex;
  justify-content:space-evenly;
  align-items:center;
  /* gap: 0.7rem; */
}

header > span {
  cursor: pointer;
  color: rgb(68, 122, 248);
}

@-webkit-keyframes hue {
  from {
   -webkit-filter: hue-rotate(0deg);
  }

  to {
   -webkit-filter: hue-rotate(-360deg);
  }
}

.quote-box{
  max-width:400px;
  padding: 16px;
  border: 5px solid;
  border-image: linear-gradient(45deg, purple, orange) 1;
}

.quote:hover{
  cursor: pointer;
}

  #author{
    float:right;
    color: gray;
    font-weight:bold;
    font-style:italic;
  }

  #btn{
    padding:8px;
    text-transform: uppercase;
    letter-spacing: 3px;
    border:2px solid white;
    background-color:black;
    color:white;
  }
